# dependencies
node_modules

# output
dist

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# npm configuration
.npmrc

# docs
public/.nojekyll
public

# dev
test.ts
/CMRU_API_STORAGE
